<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
           <link rel="stylesheet" href="../../styles/pushbar.css">
    <link rel="stylesheet" href="../../styles/sass.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>The Court Magazine</title>
  </head>

<body class="fondo__claro">

    <header class="encabezado-tienda">

        <a class="encabezado__logo logo__oscuro-tienda" href="/tienda"></a>

        <input placeholder="Search..." type="" name="" id="" class="encabezado__search">
            <button class="encabezado__lupa" ><i class="fa fa-search"></i></button>

        <div class="encabezado__logs encabezado__pc">
            <a href="#" class="typo__oscuro" style="font-size:30px;">Log in</a>
            <div data-pushbar-target="elCarro" class="encabezado__carrito"></div>
            <div data-pushbar-target="elCarro" class="encabezado__indicador"><span class="encabezado__contador"></span></div>
        </div>
            
    </header>
        <header class="encabezado-tienda2">
        <nav class="encabezado__pc">
            <ul class="nav__lista nav__pad">
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Shop By team</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Men</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Women</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Kids</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Jerseys</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">T-shirts</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Hoodies</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Sales</a></li>
                <li class="nav__item nav__item2"> <a href="#" class="typo__oscuro">Kids</a></li>
             </ul>
        </nav>
        </header>

    <div class="contPrincipal fondo__tienda">

        <aside class="contPrincipal__lateral producto__lateral">
                <p class="producto__nombre">{{producto.nombre}}</p>
                <p class="producto__precio"><span class="typo__oscuro">Price:</span> ${{producto.precio}}</p>
                <p class="producto__tamano">Size:</p>
                <div class="producto__tamanos">
                        <div class="producto__tallas"><p>S</p></div>
                        <div class="producto__tallas"><p>M</p></div>
                        <div class="producto__tallas"><p>L</p></div>
                        <div class="producto__tallas"><p>XL</p></div>
                </div>
                <p class="producto__cantidad">Quantity:</p>
                <div class="producto__cantidades">
                        <div class="producto__numero"><p>1</p></div>                    
                        <button class="producto__agregar">ADD TO CAR</button>
                </div>

        </aside>

        <section class="contPrincipal__principal producto__principal" >

            <div class="producto__mitad">
              <img class="producto__fotoP" src="../{{producto.fotoPrincipal}}" alt="">
                          <div class="producto__miniaturas">
                                <img class="producto__fotoM producto__fotoM-primera" src="../{{producto.miniaturas.[0]}}" alt="">
                                <img class="producto__fotoM" src="../{{producto.miniaturas.[1]}}" alt="">
                                <img class="producto__fotoM" src="../{{producto.miniaturas.[2]}}" alt="">
                          </div>
            </div>

            <div class="producto__mitad">
                
                <div class="producto__desc">
                    <h3>Description</h3>
                    <p>{{producto.descripcion}}</p>
                </div>

                <div class="producto__details">
                    <h3>Details</h3>
                    <ul>
                        <li><span>{{producto.detalles.[1]}}</span></li>
                        <li><span>{{producto.detalles.[2]}}</span></li>
                        <li><span>{{producto.detalles.[3]}}</span></li>
                        <li><span>{{producto.detalles.[0]}}</span></li>
                    </ul>
                    
                </div>

            </div>

        </section>
 
  </div>

    </div>
       <script src="../../scripts/javas1.js"></script>
       <script src="../../scripts/pushbar.js"></script>
     <script type="text/javascript">
            var pushbar = new Pushbar({
                    blur:true,
                });
            </script>
</body>

</html>